@page
@model TGL.WebApp.Pages.Students.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<a asp-page="./Index" class="btn-floating btn-large waves-effect waves-light">
    <i class="material-icons">arrow_back</i>
</a>



<div class="row">
    <form class="col s12" method="post">
        <input hidden asp-for="Student.Id" />

        <div class="row">
            <div class="input-field col s6">
                <input id="name" class="validate" asp-for="Student.Name">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" class="validate" asp-for="Student.LastName">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="nit" class="validate" asp-for="Student.Nit">
                <label for="nit">Nit</label>
            </div>
            <div class="input-field col s6">
                <input id="age" class="validate" asp-for="Student.Age">
                <label for="age">Age</label>
            </div>
        </div>
        <div class="row">

            <button class="waves-effect waves-light btn col s12 " type="submit">
                Save
            </button>
        </div>
    </form>
</div>

